<h1 class="text-center text-primary py-5">Welcome</h1>

<div class="text-center">
  <input type="text" [(ngModel)]="name">
  <p>{{ name }}</p>
</div>

<hr>
<app-server></app-server>
<app-servers></app-servers>

<app-SuccessAlert></app-SuccessAlert>
<app-warning-alert></app-warning-alert>



<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement">
      </app-server-element>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <h5><b>Game Control</b></h5>
  <div class="row">
    <div class="col-md-12">
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
    </div>
    <div class="col-md-6">
      <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only Show Odd Numbers</button>
      <br>
      <br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item" *ngFor="let odd of oddNum" [ngClass]="{odd: odd % 2 !== 0}" [ngStyle]="{background: odd%2!==0?'yellow':'transparent'}">{{odd}}</li>
        </div>   
        <div *ngIf="!onlyOdd">
          <li class="list-group-item" *ngFor="let even of evenNum" [ngClass]="{even: even % 2 == 0}">{{even}}</li>
        </div>   
      </ul>
      <p appBasicHighlight>Style me with basic directive</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with better directive</p>
    </div>
  </div>
</div>
<br><br>


