<h1 class="text-center text-primary py-5">Welcome</h1>

<div class="text-center">
  <input type="text" [(ngModel)]="name">
  <p>{{ name }}</p>
</div>

<hr>
<app-server></app-server>
<app-servers></app-servers>

<app-SuccessAlert></app-SuccessAlert>
<app-warning-alert></app-warning-alert>



<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement">
      </app-server-element>
    </div>
  </div>
</div>